<!DOCTYPE html>
<html>
  <head>
    <title>Date Page</title>
  </head>

  <body>
    <h1>The date is <%=Date.today.strftime("%A, %B %d, %Y")%></h1>
  </body>

  ***NOTE : Interestingly enough, having comments in this page caused it to break
  <!-- <%date = DateTime.now%> -->
  <!-- <h1>The date is <%=date.strftime(%A)%>, <%=date.strftime(%B %d)%>, <%=date.strftime(%Y)%></h1> -->
  <!-- <h1>The date is <%=date.strftime(%A, %B %d, %Y)%></h1> -->
  <!-- https://apidock.com/ruby/DateTime/strftime -->

</html>
